$textGold: #c09a4f;
$bgPearl: #657ed6;
$bgHolographic: #a7aed0;

&.plastic,
&.gold,
&.pearl,
&.holographic {
  overflow: hidden;

  .texture {
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

&.plastic {
  background-color: #fff;

  .texture {
    display: none;
  }
}

&.gold {
  background-color: #fff;

  .texture.top {
    opacity: 0.75;
    background-image: url("/src/gold.png");
    mix-blend-mode: color-dodge;
    background-position: 0% 0%;
  }
}

&.pearl {
  background-color: #657ed6;

  .texture.bottom {
    background-image: url("/src/pearl.png");
    mix-blend-mode: overlay;
    background-position: 50% 50%;
  }
}

&.holographic {
  background-color: #a7aed0;

  .texture.bottom {
    background-image: url("/src/holographic.png");
    mix-blend-mode: overlay;
    background-position: 50% 50%;
  }
}
