@charset 'UTF-8';
@import "card";
@import "nav";

$textWhite: white;
$textGold: #c09a4f;
$bgPearl: #657ed6;
$bgHolographic: #a7aed0;

* {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0;
  text-decoration: none;
}

figure {
  margin-block: 0;
  margin-inline: 0;
}

body {
  width: 100%;
  height: 100vh;
  padding: 15vh 15vw 10vh 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c0d05;
  background-color: #181818;
}

header {
  p {
    font-family: "Libre Bodoni", serif;
    font-size: 3rem;
    font-weight: normal;
    font-style: italic;
    letter-spacing: -2px;
    color: $textGold;
    color: $textWhite;
  }
}
