$textColor: black;
@font-face {
  font-family: jsmath-cmti10;
  src: url(../font/jsMath-cmti10.ttf) format("truetype");
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 34px;
    border-radius: 20px;
    border: 1px solid $textColor;
    cursor: pointer;

    margin: 10px;

    a {
      color: $textColor;
      text-transform: capitalize;
      font-size: small;
      font-family: jsmath-cmti10, serif;
    }

    &.on {
      @import "variations";
      border: none;

      &.plastic {
        background-color: $textColor;
      }
      &.gold {
        background-color: $textGold;
      }
      &.pearl {
        background-color: $bgPearl;
      }
      &.holographic {
        background-color: $bgHolographic;
      }

      .texture {
        animation: 3.5s ease-in-out 0s move-background-position infinite
          alternate;
      }

      a {
        color: #fff;
      }
    }
  }
}

@keyframes move-background-position {
  0% {
    background-position-y: 50%;
  }
  100% {
    background-position-y: 100%;
  }
}

@media (max-width: 576px) {
  nav li {
    width: 130px;
    margin: 10px 8px;
  }
}
