article {
  position: relative;
  perspective: 400px;
}
article:nth-of-type(1) {
  z-index: 1;
  width: 12vw;
  transform: rotate(-15deg) translateY(0);
  margin-right: 1.2vw;
}
article:nth-of-type(2) {
  z-index: 0;
  width: 9vw;
  transform: rotate(10deg) translateY(1.5vw);
}
article:nth-of-type(3) {
  z-index: 1;
  width: 10.5vw;
  transform: rotate(-10deg) translateY(5.1vw);
  margin-right: 2.1vw;
}
article:nth-of-type(4) {
  z-index: 0;
  width: 9vw;
  transform: rotate(20deg) translateY(0);
}
article figure,
article .back {
  border-radius: 0.6vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.25px solid #000;
}
article figure {
  cursor: pointer;
  position: relative;
  aspect-ratio: 2/3;
  backface-visibility: hidden;
  transition: all 0.1s;
}
article figure.plastic, article figure.gold, article figure.pearl, article figure.holographic {
  overflow: hidden;
}
article figure.plastic .texture, article figure.gold .texture, article figure.pearl .texture, article figure.holographic .texture {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article figure.plastic {
  background-color: #fff;
}
article figure.plastic .texture {
  display: none;
}
article figure.gold {
  background-color: #fff;
}
article figure.gold .texture.top {
  opacity: 0.75;
  background-image: url(../src/gold.png);
  mix-blend-mode: color-dodge;
  background-position: 0% 0%;
}
article figure.pearl {
  background-color: #657ed6;
}
article figure.pearl .texture.bottom {
  background-image: url(../src/pearl.png);
  mix-blend-mode: overlay;
  background-position: 50% 50%;
}
article figure.holographic {
  background-color: #a7aed0;
}
article figure.holographic .texture.bottom {
  background-image: url(../src/holographic.png);
  mix-blend-mode: overlay;
  background-position: 50% 50%;
}
article figure .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(105deg, transparent 40%, rgba(255, 219, 112, 0.8) 45%, rgba(132, 50, 255, 0.6) 50%, transparent 54%);
  filter: brightness(1.1) opacity(0);
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  background-position: 100%;
  transition: all 0.1s;
}
article figure.gold .overlay {
  background: none;
}
article figure.pearl .overlay {
  background: radial-gradient(rgba(255, 219, 112, 0.8), rgba(132, 50, 255, 0.6), transparent 40%);
  background-size: 600% 400%;
  background-repeat: no-repeat;
}
article figure img {
  width: 100%;
  height: 100%;
}
article .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 0.6vw solid #fff;
  background-image: url(../src/card_back.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
article.flip:nth-of-type(1) figure {
  animation: 1.2s ease-out calc(0.2s * 0) flip-card;
}
article.flip:nth-of-type(1) .back {
  animation: 1.2s ease-out calc(0.2s * 0) flip-card-back;
}
article.flip:nth-of-type(2) figure {
  animation: 1.2s ease-out calc(0.2s * 1) flip-card;
}
article.flip:nth-of-type(2) .back {
  animation: 1.2s ease-out calc(0.2s * 1) flip-card-back;
}
article.flip:nth-of-type(3) figure {
  animation: 1.2s ease-out calc(0.2s * 2) flip-card;
}
article.flip:nth-of-type(3) .back {
  animation: 1.2s ease-out calc(0.2s * 2) flip-card-back;
}
article.flip:nth-of-type(4) figure {
  animation: 1.2s ease-out calc(0.2s * 3) flip-card;
}
article.flip:nth-of-type(4) .back {
  animation: 1.2s ease-out calc(0.2s * 3) flip-card-back;
}

@keyframes flip-card {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: translateX(-5.4vw) rotateY(60deg);
  }
  50% {
    transform: translateX(-5.4vw) rotateY(180deg);
  }
  60% {
    transform: translateX(-5.4vw) rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes flip-card-back {
  0% {
    transform: rotateY(180deg);
  }
  10% {
    transform: translateX(-5.4vw) rotateY(240deg);
  }
  50% {
    transform: translateX(-5.4vw) rotateY(360deg);
  }
  60% {
    transform: translateX(-5.4vw) rotateY(360deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 34px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  margin: 10px;
}
nav li a {
  color: black;
  text-transform: capitalize;
  font-size: small;
  font-family: "jsMath-cmti10";
}
nav li.on {
  border: none;
}
nav li.on.plastic, nav li.on.gold, nav li.on.pearl, nav li.on.holographic {
  overflow: hidden;
}
nav li.on.plastic .texture, nav li.on.gold .texture, nav li.on.pearl .texture, nav li.on.holographic .texture {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav li.on.plastic {
  background-color: #fff;
}
nav li.on.plastic .texture {
  display: none;
}
nav li.on.gold {
  background-color: #fff;
}
nav li.on.gold .texture.top {
  opacity: 0.75;
  background-image: url(../src/gold.png);
  mix-blend-mode: color-dodge;
  background-position: 0% 0%;
}
nav li.on.pearl {
  background-color: #657ed6;
}
nav li.on.pearl .texture.bottom {
  background-image: url(../src/pearl.png);
  mix-blend-mode: overlay;
  background-position: 50% 50%;
}
nav li.on.holographic {
  background-color: #a7aed0;
}
nav li.on.holographic .texture.bottom {
  background-image: url(../src/holographic.png);
  mix-blend-mode: overlay;
  background-position: 50% 50%;
}
nav li.on.plastic {
  background-color: black;
}
nav li.on.gold {
  background-color: #c09a4f;
}
nav li.on.pearl {
  background-color: #657ed6;
}
nav li.on.holographic {
  background-color: #a7aed0;
}
nav li.on .texture {
  animation: 3.5s ease-in-out 0s move-background-position infinite alternate;
}
nav li.on a {
  color: #fff;
}

@keyframes move-background-position {
  0% {
    background-position-y: 50%;
  }
  100% {
    background-position-y: 100%;
  }
}
* {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0;
  text-decoration: none;
}

figure {
  margin-block: 0;
  margin-inline: 0;
}

body {
  width: 100%;
  height: 100vh;
  padding: 12.5vh 15vw 10vh 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #paint {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-clip: content-box;
  background-color: #000;
  transition: background-color 1.8s ease-in-out;
  -webkit-mask-image: url(../src/paint.png);
  mask-image: url(../src/paint.png);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}
body #paint.gold {
  background-color: #c09a4f;
}
body #paint.pearl {
  background-color: #a7aed0;
}
body #paint.holographic {
  background-color: #657ed6;
}

header p {
  font-family: "Libre Barcode 39 Text", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -2px;
  color: #000;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  left: 0;
  top: 0;
  cursor: pointer;
}
#modal article {
  position: absolute;
  transform: none;
  margin-right: 0;
  left: 50%;
  top: 100%;
  margin-left: -15vh;
  width: 30vh;
  transition: top 0.5s;
}
#modal article figure {
  cursor: initial;
}
#modal article .back {
  border-width: 0.75rem;
}
#modal article figure,
#modal article .back {
  border-radius: 1.2vh;
}
#modal.on {
  opacity: 1;
  pointer-events: initial;
}
#modal.on article {
  top: calc(50% - 22.5vh);
}
#modal.on article figure {
  animation: 0.5s ease-out flip-modal-card;
}
#modal.on article .back {
  animation: 0.5s ease-out flip-modal-card-back;
}

@keyframes flip-modal-card {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes flip-modal-card-back {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@media (max-width: 576px) {
  body {
    padding: 7.5vh 10vw 5vh 10vw;
  }
}

/*# sourceMappingURL=style.css.map */
